label {
  min-width: 150px;
  display: inline-block;
  margin: 5px 0;
}

.edit-buttons {
  padding: 10px 0;
}

input[type="text"] {
  padding: 5px;
  margin: 5px;
  border: none;
  border-bottom: 1px solid #add8e6;
}

input[type="submit"] {
  padding: 6px 10px;
  border: 1px solid #a4e05e;
  background-color: #a4e05e;
  color: #fff;
  margin-left: 50px;
}
